@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter bg-slate-900 text-slate-50 antialiased overflow-x-hidden;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4c0519;
}

::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #be123c;
}